@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway.ttf");
}

#playZone {
  border: 1px dotted red;
  margin-left: 550px;
  background-image: url("../imgs/canvas.jpg");
}

html {
  background-image: url("../imgs/bg.jpg");
  background-size: 100%;
}

body {
  color: black;
}

#title {
  color: white;
  font-family: Raleway;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

#menu {
  display: block;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

ul {
  display: block;
  width: 800px;
  margin-left: 155px;
  margin-right: auto;
  list-style-type: none;
  font-size: 12px;
  color: black;
  font-weight: bold;
  font-family: Raleway;
}

.liste {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-style: outset;
  text-align: center;
  line-height: 30px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  color: black;
  font-size: 14px;
}

.liste:hover {
  border-style: inset;
  box-shadow: -5px -5px 5px gray;
  color: #6C8210;
}

#sectionHighscores {
  display : none;
  font-size: 14px;
}

#score, #nbreVies {
  margin-left: 810px;
  margin-top: 20px;
  color: #7B0D27;
  font-family: Raleway;
  font-weight: bold;
}


table {
  color: red;
  margin-left: 550px;
  margin-top: 30px;
  font-family: Raleway;
}

td {
  padding: 20px 75px 5px 0px;
  font-weight: bold;
}

#etatRequete {
  color: black;
  font-family: Raleway;
  margin-left: 700px;
  margin-top: 20px;
}

#copyright {
  text-align: center;
  font-family: Raleway;
  margin-top: 25px;
}