@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway.ttf");
}

#playZone {
  border: 1px dotted red;
  background-color: white;
  margin-left: 500px;
}

html {
  background-image: url("../imgs/bg.jpg");
  background-size: 100%;
}

#title {
  color: white;
  font-family: Raleway;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
